<div class="page-container table-container">
  <div class="logout-button">
    <button (click)="logout()">Logout</button>
  </div>
  <h1 class="title">{{ selectedContent }}</h1>

  <div class="table-menu">
    <div class="dropdown">
      <button class="dropbtn">{{ transformString(selectedContent) }}</button>
      <div class="dropdown-content">
        <button (click)="displayContent('chefs')">Chefs</button>
        <button (click)="displayContent('restaurants')">Restaurants</button>
        <button (click)="displayContent('dishes')">Dishes</button>
      </div>
    </div>
    <button class="new-entity-button" (click)="createNewEntity()">
      New Entity
    </button>
  </div>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th *ngFor="let headerTitle of headerTitles">
            {{ transformString(headerTitle) }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="newEntity">
          <td *ngFor="let headerTitle of headerTitles" class="new-entity-td">
            <input
              *ngIf="shouldBeInput(headerTitle) && headerTitle !== 'image'"
              [(ngModel)]="newEntity[headerTitle.toLowerCase()]"
              class="edit-input"
            />

            <div class="select-container">
              <select
                  *ngIf="shouldShowMultiSelectDropdown(headerTitle)"
                  multiple
                  [(ngModel)]="newEntity[headerTitle.toLowerCase()]"
                  class="edit-select"
                  (mouseover)="showTooltip = true"
                  (mouseleave)="showTooltip = false"
              >
                  <option
                      *ngFor="let option of dropdownOptions[headerTitle]"
                      [value]="option.value"
                  >
                      {{ option.label }}
                  </option>
              </select>
              
              <div class="tooltip" *ngIf="showTooltip">
                  To select multiple options, press Command (or Ctrl on Windows) while clicking.
              </div>
          </div>
            <select
              *ngIf="shouldShowOneSelectDropdown(headerTitle)"
              [(ngModel)]="newEntity[headerTitle.toLowerCase()]"
              class="edit-select select-single"
            >
              <option
                *ngFor="let option of dropdownOptions[headerTitle]"
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
            <input *ngIf="headerTitle === 'price'" type="number" [(ngModel)]="newEntity[headerTitle.toLowerCase()]" class="edit-input">

            <textarea
              *ngIf="
                headerTitle !== 'price' &&
                headerTitle !== 'image' &&
                !shouldBeInput(headerTitle) &&
                shoudlBePresented(headerTitle)
              "
              [(ngModel)]="newEntity[headerTitle.toLowerCase()]"
              class="edit-area"
            ></textarea>

            <ng-container *ngIf="headerTitle === 'image'">
              <div class="image-div">
                <label for="fileInput">Choose File</label>
                <input
                  id="fileInput"
                  type="file"
                  (change)="onFileSelected($event)"
                />
                <img
                  *ngIf="imageUrl"
                  [src]="imageUrl"
                  alt="Uploaded Image"
                  style="
                    max-width: 100px;
                    max-height: 100px;
                    border-radius: 5px;
                  "
                />
              </div>
            </ng-container>
          </td>

          <td>
            <div class="save-button-container">
              <button class="save-button" (click)="saveNewEntity()">
                <img src="./assets/icons/saveIcon.png" alt="Save" />
              </button>
              <button class="cancel-entity-button" (click)="cancelEntity()">
                <img src="./assets/icons/cancleIcon.png" alt="Delete" />
              </button>
            </div>
          </td>
        </tr>

        <ng-container *ngFor="let idValuePair of responseData | keyvalue">
          <ng-container *ngFor="let row of idValuePair.value" ngProjectAs="tr">
            <tr
              appTableRow
              [rowData]="row"
              [rowKey]="idValuePair.key"
              [headerTitles]="headerTitles"
              [dropdownOptions]="dropdownOptions"
              [isEditing]="isEditing"
              (dataSaved)="handleDataSaved($event)"
              (dataDeleted)="handleDataDeleted($event)"
              (requestDropdownOptions)="handleRequestDropdownOptions($event)"
              (editModeToggled)="editModeToggled($event)"
            >
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div *ngIf="isLoading" class="spinner-overlay">
      <div class="spinner"></div>
    </div>
  </div>
</div>
