tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
  }
  
  td {
    flex: 1;
    max-width: 185px;
    max-height: 200px;
    width: 100%;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;

  }
  
  .options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
  }
  span{
    word-wrap: break-word;
    max-height: 3.6em; 
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }

  input{
    width: auto;
  }
  
  button {
    margin-left: 8px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
        background-color: transparent;
    }
  }


