tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
  }
  
  td {
    flex: 1;
    max-width: 185px;
    max-height: 200px;
    width: 100%;
    padding: 12px;
    text-align: center;
    word-wrap: break-word;

  }
  .rankingImage{
    width: 50px;
    height: 50px;
  }
  input{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  .edit-select{
    padding: 10px;
    border-radius: 5px;
    option{
      margin-bottom: 3px;
    }
  }
  .edit-area {
  resize: vertical;
  padding: 5px;
  border-radius: 5px;
  }
  ::ng-deep .edit-select.edit-select option:checked {
    background-color: lightblue;
    padding: 4px; 

  }

  option{
    text-align: center;
    color: black;
  }
  #fileInput {
    display: none;
  }
  
  label[for="fileInput"] {
    display: inline-block;
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #767575;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

.image-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px

}
.delete-options-container{
  button{
    color: white;
    font-size: 13px;
  }
}
.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:20px;
  img{
    filter: invert(100%);
  }
}
  .ellipsis-clickable {
    word-wrap: break-word;
    max-height: 3.6em; 
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    cursor: pointer; 
  }

  .ellipsis-clickable.expanded {
    max-height: none;
    -webkit-line-clamp: initial;
  }
  input{
    width: auto;
  }
  
  button {
    margin-left: 8px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
        background-color: transparent;
    }
  }



